* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    background: #678e73;
    height: 80px;
    display: flex;
    /* Next two need display: flex
    to work properly */
    justify-content: center;
    align-items: center;
    /* Default is 16 pixels multiples it */
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* This makes it so the navbar is always above other items
    in the website */
    z-index: 999;
    border-style: solid;
    border-width: thin;

}

.logo {
    width: 4em;
}

/* This is for the specific navbar__container class
This contains all the links in the navbar title bar and
controls their features */
.navbar__container {
    background-color: #678e73;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    /* margin/padding: (top right) (bottom left)
    auto completes for bottom left*/
    margin: 0 auto;

}

/* It's # because we placed an id (#) onto the navbar__logo
This is for the singular logo (JS) in this build*/
#navbar__logo {
    padding: 1.2em;
    background-color:#8e9eab;
    /* Makes the background image have gradient coloring */
    background: #131313;
     background-size: 100%;
     -webkit-background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     display: flex;
     align-items: center;
     /* Changes it to a pointer when hovering over it */
     cursor: pointer;
     text-decoration: none;
     font-size: 2rem;
}

/* This controls the code for the display of all the links in the
navbar */
.navbar__menu {

    display: flex;
    align-items: center;
    list-style: none;

}

/* This controls the code for the specific items in the navbar__menu */
.navbar__item {
    height: 50px;
}

/* This controls the specific items for the links (a tags) */
.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.logo {
    max-height: 90px;
    max-width: 90px;
}

.navbar__links:hover {
    color: #808080;
    transition: all 0.3s ease;
}


/* This is for when the screen is being
minimized and it changes the navbar
links to a dashboard */
/* Called a media query */
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: -50px;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #485563;
    }

    .navbar__menu.active {
        background: #678e73;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
        border-style: solid;
        border-width: thin;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;

    }

    .navbar__links {
        text-align: center;
        padding: .5rem;
        width: 100%;
        display: table;
        color: #fff;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
}

/* Home Page Section */

.hero {
    height: 150vh;
    background: #fbfafe;
    text-decoration: none;

}

.container {
    position: absolute;
    width: 60%;
    height: 100vh;
    margin: 5% 20%;
    text-align: center;
}

.introduce {
    color: #678e73;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.homehead {
    font-size: 4em;
}

.homedesc {
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-size: 1.6em;
}

.join-btn {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    width: 150px;
    margin: 7px;
    color: #ffffff;
    background-color: #678e73;
    border-radius: 8px;
    font-family: "proxima-nova-soft", sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
}

/*.hero {*/
/*    background: #f7f8fc;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.container {*/
/*    text-align: center;*/
/*    padding: 5em;*/
/*    width: 60%;*/
/*}*/

/*!*.iphone {*!*/
/*!*    width: 60%;*!*/
/*!*}*!*/


/*h1 {*/
/*    padding: .5em;*/
/*    font-size: 3em;*/
/*}*/

/*.introduce {*/
/*    !*padding-bottom: 1em;*!*/
/*    color: #678e73;*/
/*}*/

/*.homehead {*/
/*    !*padding-left: 3em;*!*/
/*    !*padding-top: 2em;*!*/

/*}*/

/*.homedesc {*/

/*    !*padding-left: 9em;*!*/
/*    font-size: 1em;*/
/*}*/

/*p {*/
/*    font-size: 1.8em;*/
/*}*/


/* What we do*/

.what-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #131313;
    border-width: thick;
}

.info {
    padding: 5em;
}

h2 {
    padding-bottom: .5em;
}
.manage {
    color: #0dd89d;
}

.communicate {
    color: #16bfed;
}

.flexible {
    color: #0b61ff;
}

.focused {
    color: #3befd4;
}



/* What we do */

/*.green-box {*/
/*    background: #FFFAFA;*/
/*    width: 100%;*/
/*    z-index: -5;*/
/*    left: 0;*/

/*}*/

/*.us-container {*/
/*    display: grid;*/
/*    justify-content: center;*/
/*}*/

/*.us-content {*/
/*    width: 100%;*/
/*    position: relative;*/
/*    margin-top: -60%;*/
/*}*/

/*.us-content h2 {*/
/*    text-align: center;*/
/*    font-size: 4em;*/
/*}*/

/*.us-content p {*/
/*    text-align: center;*/
/*    padding: 2em;*/
/*}*/

/*.img-center {*/
/*    align-items: center;*/

/*}*/

/*.pills {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    width: 20%;*/
/*}*/

/*@media screen and (max-width: 960px) {*/
/*    h1 {*/
/*        font-size: 2em;*/
/*    }*/

/*    .us-content h2 {*/
/*        font-size: 3em;*/
/*    }*/


/*    p {*/
/*        font-size: 1.5em;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 740px) {*/
/*    .us-content h2 {*/
/*        font-size: 1.4em;*/
/*    }*/

/*    .us-content {*/
/*        margin-top: -55%;*/
/*    }*/

/*    p {*/
/*        font-size: 1em;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    .us-content {*/
/*        margin-top: -55%;*/
/*    }*/
/*    .us-content h2 {*/
/*        font-size: 1em;*/
/*    }*/

/*    h1 {*/
/*        font-size: 1em;*/
/*    }*/

/*    p {*/
/*        font-size: .6em;*/
/*    }*/
/*}*/



/* Who We Are */

.who-container {
    background: #FFFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.who-content {
    align-items: center;
}

.people {
    border-radius: 50%;
    text-align: center;
    list-style-type: none;
    margin: 0 2em;
}

.second-row {
    border-radius: 50%;
    text-align: center;
    list-style-type: none;
    margin: 0 2em;
}

.headshot {
    width: 80%;
    border-radius: 50%;
}

.headshot2 {
    width: 80%;
}

h3 {
    font-size: 3em;
}

.tables {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .people {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2em 0;
    }

    .second-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        padding: 2em;
    }

    .headshot {
        width: 80%;
    }

    .headshot2 {
        width: 55%;
    }
}


/* Footer  */

.footer-container {
    width: 100%;
    background: #3d444a;
    color: #fff;
    padding: 3em 0;
}

.footer-links {
    margin: 0 auto;
    color: #fff;

}

.address {
    color: #fff;
}

.footer-links li {
    color: #fff;
    display: inline-block;


}

.footer-links li a {
    color: #fff;
    font-size: .8em;
}


/* Login Page */
body {
    background-color: #e8e8e8;
}
.login {
    margin: 20px auto;
    width: 300px;
    padding-top: 10%;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #678e73;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #678e73;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
    background-color: #678e73;
    cursor: pointer;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}


/* Choose login */
.outer {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    min-height: 1024px;
}
.container-login {
    text-align: center;
    vertical-align: middle;
    height: 50%;
    padding: 175px;
}

.container-login {
  display: flex;
}
.container-login > div {
  flex: 1; /*grow*/
}

.link-login {
    padding: 160px;
    background-color: #678e73;
    width: 20%;
    height: 400px;
    text-align: center;
}

.ll {
    font-size: 2rem;
}

.failed {
    color: red;
    font-size: 100%;
    padding: 8px;
}




.card {
    padding-left: 1em;
}
/* Tables */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.content-table thead tr {
  background-color: #678e73;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #678e73;
}

.update-btn {
    border-radius: 2em;
    background-color: #fff0c2;
    color: #a68b00;
    padding: 0.2rem 1rem;
    text-align: center;
    text-decoration: none;
}

.delete-btn {
    border-radius: 2em;
    background-color: #ffcdd2;
    color: #c62828;
    padding: 0.2rem 1rem;
    text-align: center;
    text-decoration: none;
}

.add-btn {
    border-radius: 2em;
    background-color: #c8e6c9;
    color: #388e3c;
    padding: 0.2rem 1rem;
    text-align: center;
    text-decoration: none;
}

body {
    background: white;
}